@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(7cHtv4kjgoGqM7E_CfNYwHk.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(7cHsv4kjgoGqM7E_CfP04Voq.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(7cHsv4kjgoGqM7E_CfOQ4loq.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(7cHrv4kjgoGqM7E_Ccs_.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(7cHsv4kjgoGqM7E_CfPI41oq.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(7cHsv4kjgoGqM7E_CfPk5Foq.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(7cHsv4kjgoGqM7E_CfOA5Voq.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(7cHsv4kjgoGqM7E_CfOc5loq.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(7cHsv4kjgoGqM7E_CfO451oq.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(7cHrv4kjgoGqM7E3b8s_.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(7cHqv4kjgoGqM7E3w-oc4w.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(7cHqv4kjgoGqM7E3p-kc4w.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(7cHpv4kjgoGqM7EPCA.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(7cHqv4kjgoGqM7E3_-gc4w.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(7cHqv4kjgoGqM7E30-8c4w.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(7cHqv4kjgoGqM7E3t-4c4w.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(7cHqv4kjgoGqM7E3q-0c4w.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(7cHqv4kjgoGqM7E3j-wc4w.woff) format('woff');
}
